
    {% set id_counter =0 %}
    <div class="container">
            <div>
                    {% for row in good_reponse %}
                        {% set id_counter = id_counter + 1 %}
                        <div class="container">
                            <div class="alert alert-success pointer" data-toggle="collapse" data-target="#good_reponse_{{ id_counter }}">
                                   <strong>Success response from: {{ row['query']}}</strong>
                            </div>
                            <div id="good_reponse_{{ id_counter }}" class="collapse fade in">
                                {{ row['response'] | safe }}
                                <hr>
                            </div>
                        </div>
                    {% endfor %}
            </div>
            <div>
                    {% for row in wrong_responses %}
                        {% set id_counter = id_counter + 1 %}
                        <div class="container">
                            <div class="alert alert-danger pointer" data-toggle="collapse" data-target="#wrong_response_{{ id_counter }}">
                                   <strong>Wrong response from: {{ row['query']}}</strong>
                            </div>
                            <div id="wrong_response_{{ id_counter }}" class="collapse fade in">
                                {{ row['response'] | safe }}
                                <hr>
                            </div>
                        </div>
                    {% endfor %}
            </div>
            <div>
                    {% for row in wrong_queries %}
                        <div class="alert alert-warning fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                            <strong>Wrong query: {{ row }}</strong>
                        </div>
                    {% endfor %}
            </div>
    </div>

